<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}{{ page.title_suffix }}</title>
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
  <link rel="stylesheet" href="https://unpkg.com/github-css@0.1.1/index.css">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ page.brand }}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-items">
        <ul class="nav navbar-nav">
          {% for navbar_item in page.navbar_items -%}
            {% if page.pathname.startsWith(navbar_item) -%}
              <li class="active"><a href="{{ navbar_item }}">{{ pages[navbar_item].name }}</a></li>
            {%- else -%}
              <li><a href="{{ navbar_item }}">{{ pages[navbar_item].name }}</a></li>
            {%- endif %}
          {%- endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% block main %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <p class="text-muted">
        © 2016 Tylingsoft. All rights reserved.
        <span class="pull-right">
          <a href="/contact/">Contact</a>
        </span>
      </p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
</body>
</html>
